html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1300px;
}

.header {
    padding: 12px 0;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 13%);
    box-shadow: 0 0 10px rgb(0 0 0 / 13%);
}

.header img {
    max-height: 45px;
}

.intro h4 {
    color: #FFD92A;
    font-weight: 600;
}

.intro h2 {
    font-weight: 900;
    font-size: 65px;
    color: #000;
    line-height: 60px;
}

.intro p {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.intro form {
    background: #fff;
    padding: 35px 25px;
    /*margin: 40px 0px;*/
    border-radius: 14px;
    -webkit-box-shadow: 0px 0px 20px rgb(0 0 0 / 17%);
    box-shadow: 0px 0px 20px rgb(0 0 0 / 17%);
}

.intro form h2 {
    color: #AF0C3E;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.form-control {
    padding: 12px;
    font-size: 12px;
    font-family: 'Montserrat';
    line-height: 1.5;
    color: #9E9E9E;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    font-weight: 500;
    height: 43px !important;
}

.intro .short {
    color: #9E9E9E;
    font-size: 12px;
}

.submit_button {
    width: 100%;
    border-radius: 100px;
    background: transparent;
    border: 1px solid #AF0C3E;
    color: #AF0C3E;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    font-size: 12px;
}

.submit_button:hover {
    width: 100%;
    border-radius: 100px;
    background: #AF0C3E;
    border: 1px solid #AF0C3E !important;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    font-size: 12px;
}

.form-control:focus {
    background-color: #fff;
    border-color: #DFDFDF !important;
    outline: none;
    box-shadow: none;
}

.form-control:focus {
    color: #9E9E9E;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9E9E9E !important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #9E9E9E !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #9E9E9E !important;
}

.navbar {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 0px;
}

.menu-section {
    border-bottom: 1px solid #dfdfdf;
}

.navbar-brand {
    /*border-bottom: 3px solid #AF0C3E;*/
    padding: 18px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 12px 17px !important;
}

.intro-about {
    padding: 80px 0;
}

.intro-about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    color: #AF0C3E;
    background: linear-gradient(90deg, #B10F56 2.8%, #D00846 96.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 20px;
}

.intro-about p {
    color: #656565;
    font-size: 15px;
    line-height: 27px;
    font-weight: 500;
}

.intro-about h2:before {
    display: block;
    content: '';
    position: absolute;
    /*left: 0;
    right: 0;*/
    margin: 0 auto;
    top: 0px;
    width: 45px;
    height: 6px;
    background: #ffd92a;
    border-radius: 8px;
}

.overlay img {
    width: 70px;
    margin: auto;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.bg-university {
    background-image: url(../img/bg-university.svg);
    background-size: cover;
    padding: 65px 0;
}

.lady-right-text {
    margin: 154px 0px;
}

.lady-right-text h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    padding-top: 20px;
}

.lady-right-text h2:before {
    display: block;
    content: '';
    position: absolute;
    /*left: 0;
    right: 0;*/
    margin: 0 auto;
    top: 0px;
    width: 45px;
    height: 6px;
    background: #ffd92a;
    border-radius: 8px;
}

.lady-right-text p {
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
}

.programme-list h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    color: #AF0C3E;
    background: linear-gradient(90deg, #B10F56 2.8%, #D00846 96.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 20px;
}

.programme-list h2:before {
    display: block;
    content: '';
    position: absolute;
    margin: 0 auto;
    top: 0px;
    width: 45px;
    height: 6px;
    background: #ffd92a;
    border-radius: 8px;
}

.programme-list {
    padding: 100px 0 220px 0;
}

.programme-list ul {
    list-style: none;
    padding-left: 0px;
}

.listing_blk ul li {
    font-weight: 500;
    font-size: 15px;
    padding: 10px 0;
}

.listing_blk {
    padding-top: 40px;
}

#search-prg {
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding: 13px 45px;
    border: 1px solid #AF0C3E;
    border-radius: 40px;
    color: #AF0C3E;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}

.orvalue {
    padding: 30px;
    font-size: 12px;
    font-weight: 500;
    color: #656565;
}

#apply-now {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #AF0C3E;
}

#search-prg:hover {
    background: linear-gradient(90deg, #B10F56 2.8%, #D00846 96.83%);
    color: #fff;
    border: 1px solid transparent;
}

.dual-dgree h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    padding-top: 20px;
}

.dual-dgree {
    background-image: url(../img/amrita-coimbatore-campus.jpg);
    padding-top: 60px;
    background-size: cover;
}

.dual-dgree p {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    line-height: 40px;
}

.dual-dgree h2:before {
    display: block;
    content: '';
    position: absolute;
    margin: 0 auto;
    top: 0px;
    width: 45px;
    height: 6px;
    background: #ffd92a;
    border-radius: 8px;
}

.right-align-image img {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.dual-text {
    padding-bottom: 50px;
}

.videos img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

a.video {
    float: left;
    position: relative;
}

a.video span {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../img/overlay-icon.png") no-repeat;
    background-position: 50% 50%;
}

.key-differentiators {
    background: linear-gradient(99.79deg, #A4123F 16.57%, #AF0C3E 93.88%);
    padding: 100px 0;
}

.key-differentiators p {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    padding: 30px;
}

.key-differentiators h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
    color: #fff;
    padding-bottom: 80px;
    text-align: center;
}

.slider-youtube iframe {
    min-width: 700px;
    height: 400px;
}

.slider-youtube .youtube {
    opacity: 1;
    transition: opacity 1s;
}

.slider-youtube .youtube:not(.slick-current) {
    opacity: 0.4;
    transition: opacity 1s;
}

img.slick-slide {
    max-width: 100vw;
}

.video-background {
    background: #000;
    z-index: -99;
    max-height: 400px;
}

.video-foreground,
.video-background iframe {
    width: 100%;
    height: 400px;
    pointer-events: none;
}

.slick-button {
    position: relative;
    bottom: 60px;
    text-align: center;
    z-index: 9999;
}

.slick-button a {
    color: white;
    background-color: black;
}

.join-amrita h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
    color: #AF0C3E;
    background: linear-gradient(90deg, #B10F56 2.8%, #D00846 96.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 20px;
    text-align: center;
}

.join-amrita p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
}

.divided {
    display: flex;
    align-items: center;
}

.divider {
    flex-grow: 1;
    border-bottom: 1px solid #777777;
    margin: 5px
}

.join-amrita {
    padding: 100px 0;
}

.admission-sec {
    background: linear-gradient(90deg, #B10F56 2.8%, #D00846 96.83%);
    padding: 60px 0;
}

.admission-sec p {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}

.admission-sec a {
    color: #fff;
    margin: 20px;
    border: 1px solid #fff;
    padding: 8px 22px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}

.lady-right-text sup {
    font-size: 29px;
    text-transform: lowercase;
}

.bg_mode {
    -webkit-box-shadow: 1px 4px 14px rgb(0 0 0 / 15%);
    box-shadow: 1px 4px 14px rgb(0 0 0 / 15%);
    border-radius: 9px;
    background-color: #fff;
    padding: 30px;
    height: 185px;
}

.bg_mode p {
    padding-top: 18px;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    color: #7b7b7b;
    text-align: left !important;
}

.btnMoreLess {
    background: transparent;
    border-radius: 50%;
    border: none;
    text-align: center;
    outline: none;
    cursor: pointer;
    color: #FFD92A !important;
    float: right;
}

.dual_degree_show .card {
    border: 0;
    -webkit-box-shadow: 4px 4px 4px 0px rgb(0 0 0 / 33%);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 4px 4px 4px 0px rgb(0 0 0 / 33%);
    border-radius: 0;
}

.dual_degree_show .card img {
    border-radius: 0;
}

.stick_para {
    padding: 10px !important;
    margin-bottom: 0;
}

.card p {
    color: #fff;
    font-weight: 500;
    font-size: 19px;
}

.arizona-01 {
    background-color: #11284f;
}

.right-shade:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    transition: ease all 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
    top: 0;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    transform: skewY(-9deg);
    -webkit-transform: skewY(-9deg);
    -moz-transform: skewY(-9deg);
    -ms-transform: skewY(-9deg);
    -o-transform: skewY(-9deg);
}

.left-shade:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    transition: ease all 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
    top: 0;
    transform-origin: right top;
    -webkit-transform-origin: right top;
    transform: skewY(9deg);
    -webkit-transform: skewY(9deg);
    -moz-transform: skewY(9deg);
    -ms-transform: skewY(9deg);
    -o-transform: skewY(9deg);
}

.kth {
    background: #7e4743;
}

.ari {
    background: #11284f;
}

.kth-02 {
    background: #7e4743;
}

.twe {
    background: #516a4d;
}

.twente-03 {
    background: #516a4d;
}

.vu-04 {
    background: #1c2d79;
}

.vu {
    background: #1c2d79;
}

.nan-05 {
    background: #838d96;
}

.nan {
    background: #838d96;
}

.mx-06 {
    background: #968271;
}

.mx {
    background: #968271;
}

.dual_degree_show .card-body {
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 0 0 15px 15px;
    padding: 0;
    min-height: 210px;
}

.verticals {
    padding: 25px;
}

.university_blk {
    padding: 0;
}

.iMoreLess {
    border: 2px solid #FFD92A !important;
    padding: 10px 10px;
    border-radius: 100%;
    font-size: 20px;
}

#btnMoreLessTwo {
    background: transparent;
    border-radius: 50%;
    border: none;
    text-align: center;
    outline: none;
    cursor: pointer;
    color: #FFD92A !important;
    float: right;
}

#btnMoreLessThree {
    background: transparent;
    border-radius: 50%;
    border: none;
    text-align: center;
    outline: none;
    cursor: pointer;
    color: #FFD92A !important;
    float: right;
}

#btnMoreLessFour {
    background: transparent;
    border-radius: 50%;
    border: none;
    text-align: center;
    outline: none;
    cursor: pointer;
    color: #FFD92A !important;
    float: right;
}

#btnMoreLessFive {
    background: transparent;
    border-radius: 50%;
    border: none;
    text-align: center;
    outline: none;
    cursor: pointer;
    color: #FFD92A !important;
    float: right;
}

#btnMoreLessSix {
    background: transparent;
    border-radius: 50%;
    border: none;
    text-align: center;
    outline: none;
    cursor: pointer;
    color: #FFD92A !important;
    float: right;
}

.scholarship h2 {
    text-transform: uppercase;
    line-height: 75px;
    font-weight: 700;
    font-size: 100px;
    color: #AF0C3E;
    background: linear-gradient(90deg, #B10F56 2.8%, #D00846 96.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}

.scholarship h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    color: #AF0C3E;
    background: linear-gradient(90deg, #B10F56 2.8%, #D00846 96.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 0px;
}

.scholarship {
    padding-top: 100px;
}

.chancellor_scholar {
    font-size: 30px;
    color: #4D4D4D;
    text-transform: uppercase;
    font-weight: 700;
}

#apply-btn {
    color: #ac0d3e;
    border: 1px solid #be0c0d;
    padding: 9px 30px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}

#apply-btn:hover {
    background: #ac0e3f;
    color: #fff;
}

.scholar_ship p {
    background: white;
    padding: 35px;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 4px 14px rgb(0 0 0 / 15%);
    box-shadow: 1px 4px 14px rgb(0 0 0 / 15%);
}

.md-stepper-horizontal {
    display: table;
    width: 100%;
    margin: 0 auto;
    background-color: #eef9d600;
    box-shadow: 0 3px 8px -6px rgb(0 0 0 / 0%);
    margin-top: 40px !important;
}

.md-stepper-horizontal .md-step {
    display: table-cell;
    position: relative;
    padding: 24px;
}

.md-stepper-horizontal.orange .md-step.active .md-step-circle {
    background-color: #eef9d600;
}

.md-stepper-horizontal .md-step .md-step-circle {
    /*width: 30px;*/
    height: 30px;
    margin: 0 auto;
    background-color: #eef9d600;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.md-stepper-horizontal .md-step.active .md-step-title {
    font-size: 15px;
    font-weight: 500;
    color: #505050;
}

.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
    text-align: center;
    color: #505050;
}

.md-stepper-horizontal .md-step .md-step-title {
    margin-top: 70px;
    font-size: 15px;
    font-weight: 500;
}

.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
    display: none;
}

.md-stepper-horizontal .md-step .md-step-bar-left {
    left: 0;
    right: 50%;
    margin-right: 50px;
}

.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
    position: absolute;
    top: 48px;
    height: 1px;
    border-top: 1px solid #c1b6b6;
}

.md-stepper-horizontal .md-step .md-step-bar-right {
    right: 0;
    left: 50%;
    margin-left: 50px;
}

.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
    position: absolute;
    top: 48px;
    height: 1px;
    border-top: 1px solid #c1b6b6;
}

.accordion_two_section {
    background: #fff;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px
}

.accordionTwo .panel-group {
    margin-bottom: 0
}

.accordionTwo .panel {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 10px solid transparent;
    border-radius: 0;
    margin: 0
}

.accordionTwo .panel-default {
    border: 0
}

.accordionTwo .panel-default>.panel-heading {
    background: #fdfdfd00;
    border-radius: 0px;
    border-color: #ffffff00;
}

.accordion-wrap .panel-heading {
    padding: 0px;
    border-radius: 0px
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.accordionTwo .panel .panel-heading a.collapsed {
    color: #d00846;
    background-color: #ffffff;
    display: block;
    padding: 17px 20px;
    /*border-radius: 47px;*/
    margin: 10px 0;
    -webkit-box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.accordionTwo .panel .panel-heading a {
    color: #d00846;
    background-color: #ffffff;
    display: block;
    padding: 17px 20px;
    /*border-radius: 47px;*/
    margin: 10px 0;
    -webkit-box-shadow: 0px 0px 20px rgb(0 0 0 / 17%);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.accordion-wrap .panel .panel-heading a {
    font-size: 14px
}

.accordionTwo .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
    padding-top: 0;
    padding: 20px 20px 20px 30px;
    background: #ffffff;
    color: #807d7d;
    font-size: 14px;
    font-weight: 500;
    -webkit-box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    line-height: 24px;
    /*border-radius: 10px;*/
}

.accordionTwo .panel .panel-heading a:after,
.accordionTwo .panel .panel-heading a.collapsed:after {
    font-family: 'FontAwesome';
    font-size: 28px;
    float: right;
    width: 25px;
    display: block;
    height: 25px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    color: #FFF;
}

.accordionTwo .panel .panel-heading a.collapsed:after {
    content: "\2b";
    color: #d00846;
    background-color: #dadada00;
    border: 0px solid #d00946;
}

.accordionTwo .panel .panel-heading a:after {
    content: "\2212";
    color: #d00846;
    background-color: #dadada00;
    border: 0px solid #d10947;
}

a:link {
    text-decoration: none
}

.accordion_two_section h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
    color: #AF0C3E;
    background: linear-gradient(90deg, #B10F56 2.8%, #D00846 96.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 30px 0;
    text-align: center;
}

.footer {
    background: #FDF8F9;
    padding: 40px 0;
}

.site-info {
    background: #FDF8F9;
    padding: 20px 0;
    border-top: 1px solid #DFDFDF;
}

.site-info p {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 500;
}

#navbar {
    overflow: hidden;
    z-index: 99999;
    background: #fff;
    border-bottom: 0;
    -webkit-box-shadow: 1px 4px 14px rgb(0 0 0 / 15%);
    box-shadow: 1px 6px 20px rgb(0 0 0 / 4%);
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.navbar-light .navbar-nav .nav-link {
    color: #a3123f;
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
    border-bottom: 3px solid transparent;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #a3123f;
    border-bottom: 3px solid #ffd92a;
}

.navbar-toggler {
    border-radius: 5px;
    background: #fff;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none;
}

.footer_social a {
    font-size: 25px;
    padding: 0 10px;
}

.footer_social {
    margin-bottom: 0;
    padding-top: 25px;
}

.footer_social .fa {
    color: #000;
}

.fa-chevron-up:before {
    content: "\f077" !important;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ffd92a;
    color: #c80a4b;
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 50px;
    font-weight: 600;
    -webkit-box-shadow: 1px 4px 14px rgb(0 0 0 / 15%);
    box-shadow: 1px 4px 14px rgb(0 0 0 / 15%);
}

.gotop {
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #d00846;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: 600;
    border: 2px solid #ffd92a;
}

button:focus {
    outline: none !important;
}


/*Accordian Start CSS*/

.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\2212";
    float: right;
    font-size: 22px;
}

.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\2b";
    font-size: 22px;
}


/*Accordian End CSS*/

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background: #AF0C3E;
    border: 1px solid #AF0C3E;
}

#accordion .card-header {
    color: #d00846;
    background-color: #ffffff;
    display: block;
    padding: 17px 20px;
    cursor: pointer;
    margin: 10px 0;
    -webkit-box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-bottom: 0px solid rgba(0, 0, 0, .125);
}

#accordion .card {
    border: 0px solid rgba(0, 0, 0, .125);
}

#accordion .card-body {
    -webkit-box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

#accordion a {
    line-height: 34px;
    font-weight: 500;
}

#accordion .card-body p {
    color: #383838;
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 0px;
}

#admission-enq {
    background: #FFD92A;
    border: 0;
    color: #000;
    font-weight: 600;
    border-radius: 50px;
    padding: 6px 30px;
    font-size: 13px;
}

#admission-enq:focus {
    outline: none;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}

.menu-section #admission-enq {
    visibility: hidden;
}

.sticky #admission-enq {
    visibility: unset !important;
}

@media (max-width: 480px) {
    .flow_er {
        text-align: center !important;
    }
    .reg_button {
        font-size: 15px !important;
        margin: 12px !important;
    }
    .aee-blk h4 {
        font-size: 20px !important;
    }
    .aee-blk p {
        font-size: 13px !important;
    }
    .rank-score {
        padding: 30px 20px !important;
        text-align: center !important;
    }
    .aee-blk {
        padding: 60px 0 !important;
    }
    .info_colla {
        padding: 70px 20px !important;
    }
    .intro {
        background-position: right !important;
    }
    .programme-offered {
        padding-bottom: 0px !important;
    }
    .be-best {
        padding: 30px 0 !important;
    }
    .ico_grp {
        padding: 35px 0 !important;
    }
    .specializations {
        padding-top: 30px;
    }
    .specializations .container {
        border-radius: 0 !important;
    }
    .prg_info {
        padding: 25px !important;
    }
    .dual_degree {
        padding-bottom: 20px !important;
    }
    .dual_degree_logos img {
        width: 100%;
    }
    .about-btech {
        margin: 45px 0 !important;
        padding: 40px 0 !important;
    }
    .info-re {
        padding: 8px !important;
    }
    .country_code_blk {
        margin-bottom: 1rem;
    }
    .testimonoals h2 {
        font-size: 32px !important;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        border-bottom: 3px solid #ffd92a00;
    }
    .apply_big {
        text-align: center;
    }
    #admission-enq {
        display: none;
    }
    #accordion .card-header {
        padding: 14px 17px;
        font-size: 12px;
    }
    .key-differentiators h2 {
        font-size: 25px;
        padding-bottom: 30px;
    }
    .lady-right-text {
        margin: 0px;
    }
    .intro {
        padding: 3rem 0 5rem !important;
    }
    .intro h4 {
        text-align: center;
    }
    .intro p {
        text-align: center;
    }
    #search-prg {
        font-family: 'Montserrat';
        text-transform: uppercase;
        padding: 13px 19px;
        border: 1px solid #AF0C3E;
        border-radius: 40px;
        color: #AF0C3E;
        font-size: 12px;
        font-weight: 600;
        text-decoration: none;
    }
    .right-align-image img {
        position: inherit;
    }
    .orvalue {
        padding: 10px;
    }
    .join-amrita p {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }
    .scholarship img {
        width: 100%;
    }
    .verticals {
        padding: 15px;
    }
    .chancellor_scholar {
        font-size: 20px;
    }
    .scholarship h3 {
        font-size: 35px;
    }
    .scholarship h2 {
        font-size: 80px;
    }
    .intro-about h2 {
        font-size: 35px;
    }
    .lady-right-text h2 {
        font-size: 35px;
    }
    .programme-list h2 {
        font-size: 35px;
    }
    .dual-dgree h2 {
        font-size: 35px;
    }
    .admission-sec p {
        font-size: 18px;
        text-align: center;
        margin-bottom: 18px;
    }
    .admission-sec {
        padding: 30px 0;
    }
    .key-differentiators {
        padding: 60px 0;
    }
    .scholarship {
        padding-top: 50px;
    }
    .lady-right-text p {
        font-size: 20px;
    }
    .bg-university {
        padding-bottom: 40px;
        padding-top: 0px !important;
    }
    .intro-about {
        padding: 40px 0;
    }
    .join-amrita h2 {
        font-size: 25px;
    }
    .accordion_two_section h2 {
        font-size: 25px;
    }
    .accordionTwo .panel .panel-heading a:after,
    .accordionTwo .panel .panel-heading a.collapsed:after {
        line-height: 0px !important;
    }
    .panel-title {
        font-size: 15px !important;
    }
    .accordionTwo .panel .panel-heading a.collapsed {
        border-radius: 5px !important;
    }
    .accordionTwo .panel .panel-heading a {
        border-radius: 5px !important;
    }
    .md-stepper-horizontal .md-step {
        display: block;
    }
    .md-stepper-horizontal .md-step .md-step-bar-left,
    .md-stepper-horizontal .md-step .md-step-bar-right {
        border: none;
    }
    .accordion_two_section {
        padding-top: 0px;
    }
}

@media (max-width: 768px) {
    .flow_er {
        text-align: center !important;
    }
    .reg_button {
        font-size: 15px !important;
        margin: 12px !important;
    }
    .aee-blk h4 {
        font-size: 20px !important;
    }
    .aee-blk p {
        font-size: 13px !important;
    }
    .rank-score {
        padding: 30px 20px !important;
        text-align: center !important;
    }
    .aee-blk {
        padding: 60px 0 !important;
    }
    .info_colla {
        padding: 70px 20px !important;
    }
    .intro {
        background-position: right !important;
    }
    .programme-offered {
        padding-bottom: 0px !important;
    }
    .be-best {
        padding: 30px 0 !important;
    }
    .ico_grp {
        padding: 35px 0 !important;
    }
    .specializations {
        padding-top: 30px;
    }
    .specializations .container {
        border-radius: 0 !important;
    }
    .prg_info {
        padding: 25px !important;
    }
    .dual_degree {
        padding-bottom: 20px !important;
    }
    .dual_degree_logos img {
        width: 100%;
    }
    .about-btech {
        margin: 45px 0 !important;
        padding: 40px 0 !important;
    }
    .rank-score {
        text-align: center !important;
    }
    .flow_er {
        text-align: center !important;
    }
    .reg_button {
        font-size: 15px !important;
        margin: 12px !important;
    }
    .placements h4 {
        text-align: center !important;
        padding: 30px 0;
    }
    .premium {
        background: #fff !important;
    }
    .how-to-apply {
        padding: 47px 0 !important;
    }
    .info_image img {
        border-radius: 0 !important;
    }
    .table thead th {
        font-size: 13px;
    }
    .info_about {
        padding: 0 20px !important;
    }
    .info_placement {
        padding: 23px !important;
    }
    .placements {
        padding: 40px 0 !important;
    }
    .premium {
        background: #ffffff;
    }
    .bg_info {
        height: auto !important;
    }
    .benefits {
        padding: 33px 0 !important;
    }
    .text_box {
        margin-top: 20px;
    }
    .eligiblity {
        padding: 12px 0 !important;
    }
    .country_code_blk {
        margin-bottom: 1rem;
    }
    .admission-sec p {
        text-align: center;
        margin-bottom: 10px;
    }
    .apply_big {
        text-align: center;
    }
    #admission-enq {
        display: none;
    }
    .intro {
        padding: 3rem 0 0rem !important;
    }
    .intro h4 {
        text-align: center;
    }
    .intro p {
        text-align: center;
    }
    .right-align-image img {
        position: initial;
    }
    .dual-text {
        padding-bottom: 0px;
    }
    .bg_mode {
        margin: 15px 0;
    }
    .programme-list {
        padding: 70px 0 70px 0;
    }
    .lady_crete {
        text-align: center;
        padding-bottom: 45px;
    }
    .join-amrita {
        padding: 50px 0;
    }
    .lady-right-text {
        margin: 40px 0px;
    }
    .intro {
        min-height: 0px !important;
    }
    .panel-title {
        font-size: 12px !important;
    }
    #desktop_blk {
        display: none !important;
    }
    #mobile_blk {
        display: block !important;
    }
    #mobile_blk .beginning_blk h2 {
        padding-bottom: 0px !important;
        text-align: center;
    }
    .icon_mobi {
        margin: 16px 0;
    }
    .specializations .container {
        box-shadow: none !important;
    }
    .spec_ti {
        text-align: center;
    }
    #enquire_form {
        margin-bottom: 30px;
    }
    #mobile_blk img {
        display: block !important;
    }
}

@media (min-width: 768px) {
    #mobile_blk {
        display: block !important;
    }
    #desktop_blk {
        display: none !important;
    }
}

.beginning_blk h2 {
    color: #fff;
    font-weight: 500;
    font-size: 65px;
    /*text-transform: uppercase;*/
    /*padding-bottom: 60px;*/
}

.sub_rank {
    color: #656565;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
}

.testimonial-card {
    min-height: 500px;
    width: 100%;
    background: linear-gradient(90deg, #B10F56 2.8%, #D00846 96.83%);
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0px 0px 15px 0px rgb(32 32 32 / 15%);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.text {
    padding: 18px;
    line-height: 1.7em;
    position: relative;
    font-size: 17px;
    color: #fff;
}

.profile-image-01 {
    background-color: tomato;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid white;
    background: no-repeat center/cover url(../img/profile-01.jpg);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.profile-image-02 {
    background-color: tomato;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid white;
    background: no-repeat center/cover url(../img/profile-02.jpg);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.profile-image-03 {
    background-color: tomato;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid white;
    background: no-repeat center/cover url(../img/profile-03.jpg);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.profile-image-04 {
    background-color: tomato;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid white;
    background: no-repeat center/cover url(../img/profile-04.jpg);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.profile-image-05 {
    background-color: tomato;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid white;
    background: no-repeat center/cover url(../img/profile-05.jpg);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.profile-image-06 {
    background-color: tomato;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid white;
    background: no-repeat center/cover url(../img/profile-06.jpg);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.testi_img_plk {
    background-color: #fff;
    height: 140px;
    border-radius: 0 0 10px 10px;
    position: relative;
}

.quote {
    font-size: 400%;
    float: right;
    opacity: 0.2;
    transform: rotate(10deg) translate(-10px, -40px);
    font-size: 108px !important;
    color: #fff;
    z-index: 9999999;
}

.person {
    color: #cb0949;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    text-align: center;
}

.testimonial-card p {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.owl-nav {
    position: absolute;
    top: -50px;
    margin-bottom: 34px;
    right: 0;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    font-size: 23px !important;
}

.owl-theme .owl-nav {
    margin-top: 0px !important;
}

.owl-theme .owl-nav [class*=owl-] {
    margin: 5px;
    padding: 0px 7px;
    background: #D6D6D6;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    padding-right: 7px !important;
    padding-left: 7px !important;
}

.owl-next span {
    padding-right: 12px !important;
    padding-left: 12px !important;
    background: #D6D6D6 !important;
    padding: 5px;
    border-radius: 4px;
}

.owl-prev span {
    padding-right: 12px !important;
    padding-left: 12px !important;
    background: #D6D6D6 !important;
    padding: 5px;
    border-radius: 4px;
}

.testimonoals h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
    color: #AF0C3E;
    background: linear-gradient(90deg, #B10F56 2.8%, #D00846 96.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 20px;
    text-align: center;
}

.videos video {
    width: 100%;
    background-size: cover;
    padding: 0 15px 15px 0;
    background-image: url(https://www.amrita.edu/ahead/mahabharata/images/ahead_home_video_bg_02.svg);
    outline: none;
}

#enquire_now iframe {
    border-radius: 10px !important;
    height: 695px !important;
}

#enquire_now iframe .submit_button:hover {
    border: 1px solid #AF0C3E !important;
}

.specializations .container {
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: 1px 4px 14px rgb(0 0 0 / 15%);
    box-shadow: 1px 4px 14px rgb(0 0 0 / 15%);
    padding: 30px;
    background: #232631;
}

.spec_ti {
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #be0c4f;
}

.icon-set {
    align-items: center;
}

.icon-set p {
    font-weight: 500;
    margin: 0;
    color: #fff;
}


/*.spec_ti:after {
    content: '';
    width: 100%;
    border-bottom: solid 1px #fff;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
}*/

.eligiblity {
    padding: 80px 0;
}

.eligiblity img {
    border-radius: 10px;
    width: 100%;
}

h3:before {
    display: block;
    content: '';
    position: absolute;
    margin: 0 auto;
    top: 0px;
    width: 45px;
    height: 6px;
    background: #ffd92a;
    border-radius: 8px;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    color: #af0c3e;
    padding-top: 15px;
}

.eligiblity ul li {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
}

.eligiblity .row {
    align-items: center;
}


/*.eligiblity .container {
    background-size: cover !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to top, #000000, #000000b3), url(../img/banner-image-01.jpg) no-repeat top center;
    border-radius:20px;
}*/

.premium {
    background: #fdf8f9;
    border-radius: 10px;
    padding: 30px;
}

.eligiblity h3:before {
    top: 30px;
}

.info {
    font-weight: 500;
    font-size: 15px;
    color: #999999;
}

.benefits {
    background: #fdf8f9;
    padding: 70px 0;
}

.bg_info {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 28px;
    -webkit-box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 5%);
    height: 320px;
}

.bg_info h4 {
    font-size: 17px;
    font-weight: 600;
    color: #af0c3e;
}

.bg_info p {
    margin: 0;
    font-weight: 500;
    color: #656565;
    font-size: 15px;
    line-height: 25px;
}

.bg_info img {
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 15px;
    background: #fdf8f9;
}

.benefits h3 {
    text-align: center;
    padding: 20px 0 40px 0;
}

.benefits h3:before {
    left: 0;
    right: 0;
}

.info_placement {
    border-radius: 6px;
    background: white;
    padding: 30px;
    -webkit-box-shadow: 1px 4px 14px rgb(0 0 0 / 15%);
    box-shadow: 1px 4px 14px rgb(0 0 0 / 15%);
    margin: 10px 0;
}

.placements p {
    font-weight: 500;
    color: #656565;
    line-height: 28px;
}

.placements {
    padding: 100px 0;
}

.placements h4 {
    font-weight: 600;
    color: #b30e54;
    font-size: 30px;
}

.placements span {
    font-size: 50px;
    font-weight: 700;
}

.table-responsive {
    padding: 15px;
}

.table {
    -webkit-box-shadow: 1px 4px 14px rgb(0 0 0 / 15%);
    box-shadow: 1px 4px 14px rgb(0 0 0 / 15%);
    border-radius: 6px;
    background: #fff;
}

.table thead th {
    border-bottom: none;
    color: #b30e55;
}

.table td {
    padding: 18px 5px;
    vertical-align: top;
    border-top: 1px solid #e7e7e7;
    font-weight: 500;
    color: #656565;
}

.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}

.fee_structure {
    background: #fdf9fa;
    padding: 60px 0;
}

.fee_structure h3:before {
    left: 0;
    right: 0;
}

.about_asb {
    padding: 70px 0;
}

.info_image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
}

.about_asb p {
    font-weight: 500;
    color: #656565;
    line-height: 28px;
}


/*.about_asb .row {
    align-items: center;
}*/

.how-to-apply {
    background: #fdf9fa;
    padding: 120px 0;
}

.how-to-apply h3:before {
    left: 0;
    right: 0;
}

.flow_er {
    text-align: right;
}

.reg_button {
    background: #ffffff00;
    border: 1px solid #ffffff;
    font-weight: 500;
    border-radius: 40px;
    padding: 7px 30px;
    margin: 25px;
    text-align: right;
}

.reg_button:hover {
    background: white;
    border: 1px solid #ffffff;
    color: #b30e55;
}

.campuses img {
    border-radius: 7px;
    width: 100%;
}

.campuses p {
    font-weight: 500;
    padding-top: 10px;
    color: #b10f56;
}

.campuses h3 {
    text-align: center;
    padding-bottom: 40px;
}

.campuses h3:before {
    left: 0;
    right: 0;
}

.campuses {
    padding: 60px 0;
}


/*.intro h4 {
color: #FFD92A;
font-weight: 700;
font-size: 35px;    
}*/

.premium ul {
    list-style: none;
    padding-left: 0;
    font-size: 8px;
}

.navbar-light .navbar-toggler {
    border: 1px solid transparent !important;
}

.icon-set h4 {
    color: #FFD92A;
    font-weight: 600;
}

.programme-offered h3 {
    text-align: center;
}

.programme-offered h3:before {
    left: 0;
    right: 0;
}

.nav-pills .nav-link.active {
    color: #b10f56;
    font-weight: 500;
    background-color: #ffffff00;
    border: 1px solid #8E8FA2;
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 14px;
}

.nav-pills .nav-link {
    color: #656565;
    font-weight: 500;
    background-color: #ffffff00;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 14px;
}

#pills-tab {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 35px;
}

.programme-offered {
    padding: 70px 0;
}

.tab-content h4 {
    font-size: 16px;
    font-weight: 600;
    color: #af0c3e;
    padding-bottom: 20px;
}

.tab-content p {
    font-size: 15px;
    font-weight: 500;
    padding: 14px 0;
    margin: 0;
    border-top: 1px solid #DADADA;
    color: #656565;
}

.tab-content {
    padding-top: 30px;
}

.prg_info {
    padding: 40px;
}

.intro {
    padding-top: 120px;
}

.intro {
    background-image: url(../img/bg-01.svg);
    /*background-size: cover;    */
    background-position: center;
    background-repeat: no-repeat;
}

.dual_degree_logos img {
    padding: 35px 0;
}

.collaborations h2 {
    font-weight: 700;
    font-size: 70px;
    color: #fff;
}

.collaborations {
    background: linear-gradient(to top, #af0c3ef0, #d00846f0), url(../img/dual-degree-bg.png) no-repeat top center;
    height: 100%;
}

.collaborations p {
    color: #fff;
    font-weight: 500;
    margin: 0;
    font-size: 20px;
}

.info_colla {
    position: relative;
    z-index: 2;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    padding: 35px 20px;
}

.about-btech {
    padding: 80px 0;
    margin: 100px 0;
    background: #fdf8f9;
}

.about-btech iframe {
    border-radius: 10px;
}

.about-btech p {
    font-weight: 500;
    line-height: 30px;
    color: #656565;
}

.top_recurters h3:before {
    left: 0;
    right: 0;
}

.top_recurters h3 {
    text-align: center;
    padding-bottom: 40px;
}

.info-re img {
    width: 100%;
    /*-webkit-box-shadow: 0px 0px 20px rgb(0 0 0 / 17%);
box-shadow: 0px 0px 20px rgb(0 0 0 / 17%);
padding: 25px;
border-radius: 5px; */
}

.info-re {
    padding: 40px 0;
    -webkit-box-shadow: 0px 0px 20px rgb(0 0 0 / 17%);
    box-shadow: 0px 0px 20px rgb(0 0 0 / 17%);
    padding: 15px;
    border-radius: 5px;
    margin: 15px 0;
}

.aee-blk {
    padding: 110px 0;
}

.aee-blk p {
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0;
    color: #fff;
}

.aee-blk h4 {
    font-weight: 600;
    color: #ffd92a;
    font-size: 25px;
}

.rank-score {
    background: linear-gradient(to top, #af0c3ef2, #d00846f7), url(../img/pattern-bg.webp) no-repeat top center;
    border-radius: 10px;
    padding: 75px 20px;
    background-size: cover;
}

.info_degree {
    background: #FFF;
    -webkit-box-shadow: 1px 2px 9px rgb(0 0 0 / 15%);
    box-shadow: 1px 2px 9px rgb(0 0 0 / 15%);
    padding: 20px 10px;
    border-radius: 10px;
    height: 195px;
    margin: 15px 0;
}

.dual_degree img {
    padding: 15px 0;
}

.dual_degree p {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.dual_degree {
    padding-bottom: 60px;
}

#campuses {
    background: #fdf8f9;
}